body {
  color: black;
}

h1 {
  font-weight: bold;
}

h2 {
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.inner {
  text-align: center;
}

.image.avatar img {
  border: 1px solid #fff;
}

.work-item h3 {
  font-size: 1.3em;
  color: black;
}

.shadow {
  filter: drop-shadow(5px 5px 5px #d3d0d0dc);
}

.space-evenly {
  justify-content: space-evenly;
}

a.button {
  border: 3px solid black;
  color: black !important;
}

a.case-study-btn:hover {
  background-color: #acacad;
}

.ableContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

.ableContainer p {
  margin: 1em 0 2em 0;
}

.ableArchitectureContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

.imageAnchor {
  border: none;
}

@media screen and (min-width: 981px) {
  .ableContainer,
  .ableArchitectureContainer {
    flex-direction: row;
  }

  .ableContainer p {
    display: block;
    width: 45%;
  }
}

#main {
  padding: 3em 4em;
}

.img-link:hover {
  cursor: pointer;
}

#one > div > img {
  width: 50%;
  min-width: 200px;
  height: auto;
}

#two img {
  filter: drop-shadow(5px 5px 5px #d3d0d0dc);
}

#two h3 {
  padding-bottom: 0.5em;
}

#header .image.avatar {
  margin: 0;
}

#header {
  background-color: #acacad;
  padding: 3em 4em;
}

#footer {
  background-color: #acacad;
}

a {
  color: #1f3264;
  font-weight: bold;
}

#header:hover {
  color: #1f3264;
}

#header p {
  color: black;
  margin: 0 0 0.5em;
  text-align: left;
}

#header h1 {
  color: black;
  font-size: 2em;
  padding: 0 0 1em;
}

#header .image.avatar {
  width: 11.25em;
}

#footer .icons a {
  color: black;
}
